/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    to right,
    rgba(236, 231, 217, 0.8),
    rgba(207, 200, 179, 0.8),
    rgba(224, 219, 199, 0.8)
  );

  color: #3f1177; /* Texto oscuro */
}

.navbar {
  /* Fondo negro transparente */
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s ease;
  height: 80px;
}

/* Estilos para el menú desplegable en móviles */
.navbar-collapse {
  background-color: rgba(
    0,
    0,
    0,
    0.4
  ) !important; /* Fondo negro transparente */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los enlaces del menú desplegable */
.navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.8) !important; /* Color del texto */
  padding: 10px 15px; /* Espaciado interno */
}

.navbar-nav .nav-link:hover {
  color: rgba(255, 255, 255, 1) !important; /* Color del texto al hacer hover */
  background-color: rgba(255, 255, 255, 0.1); /* Fondo claro al hacer hover */
}

/* Estilos para el botón del toggler (ícono de hamburguesa) */
.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8); /* Color del borde */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); /* Color del ícono */
}

/* Media query para pantallas pequeñas */
@media (max-width: 767.98px) {
  .navbar {
    height: auto; /* Ajusta la altura automáticamente */
    padding: 10px; /* Añade un poco de padding */
  }

  .navbar-nav .nav-link {
    padding: 8px 12px; /* Ajusta el padding para pantallas pequeñas */
  }

  .navbar-collapse {
    margin-top: 10px; /* Añade un margen superior */
  }
}

body {
  padding-top: 80px;
}

.header-background {
  background-color: white; /* Fondo blanco */
  background-image:
    url('assets/logobandera.webp'),
    linear-gradient(to right, rgba(31, 102, 160, 0.5), rgba(200, 200, 200, 0)),
    /* Línea 1 */
      linear-gradient(
        to right,
        rgba(117, 177, 196, 0.5),
        rgba(150, 150, 150, 0)
      ),
    /* Línea 2 */
      linear-gradient(
        to right,
        rgba(100, 100, 100, 0.5),
        rgba(100, 100, 100, 0)
      ); /* Línea 3 */
  background-size:
    280px 190px,
    /* Tamaño de la bandera (ajusta estos valores según necesites) */ 100% 4px,
    /* Ancho y alto de la línea 1 */ 100% 4px,
    /* Ancho y alto de la línea 2 */ 100% 4px; /* Ancho y alto de la línea 3 */

  background-position:
    left top,
    /* Posición de la bandera */ 0 94%,
    /* Posición de la línea 1 */ 0 96%,
    /* Posición de la línea 2 */ 0 98%; /* Posición de la línea 3 */

  background-repeat: no-repeat; /* Evita que se repitan las imágenes y líneas */
}
/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .header-background {
    background-size:
      180px 90px,
      /* Tamaño de la bandera en móvil (ajusta estos valores) */ 100% 4px,
      /* Línea 1 */ 100% 4px,
      /* Línea 2 */ 100% 4px; /* Línea 3 */
  }
}

.social-icons {
  justify-content: center !important;
  gap: 35px !important;
}

.social-icons i {
  font-size: 35px; /* Ajusta el tamaño de los iconos */
  color: #3f1177;
  transition: color 0.3s ease; /* Para que el color cambie con una transición suave cuando pases el cursor */
}

/* Efecto de cambio de color cuando pasas el cursor por encima */
.social-icons i:hover {
  color: #d69d02; /* Cambia el color al pasar el ratón */
}

/* Logo */
.custom-logo {
  width: 60px;
  height: 60px;
}

/* Navbar */
.navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1000;
}

.nav-link {
  color: #fff !important;
  font-weight: bold;
}

.nav-link:hover {
  color: #d69d02 !important;
  text-decoration: underline; /* Subrayado en hover */
}

.navbar-nav .nav-link {
  position: relative;
  text-decoration: none; /* Eliminamos el subrayado predeterminado */
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #d69d02;
  transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  width: 100%; /* El subrayado se expandirá al 100% */
}

/* Estilos para el carrusel */
#newsCarousel {
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  margin: 0 auto;
  position: relative;
}

#newsCarousel .carousel-inner {
  padding: 20px 0; /* Espaciado vertical */
}

#newsCarousel .carousel-item {
  background-color: #fff; /* Fondo blanco para las noticias */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

#newsCarousel .img-fluid {
  height: 200px; /* Altura fija para las miniaturas */
  object-fit: cover; /* Ajustar la imagen sin distorsionar */
  border-radius: 10px 0 0 10px; /* Bordes redondeados solo en la izquierda */
}

#newsCarousel .btn-outline-primary {
  border-color: #2c3e50; /* Color del borde del botón */
  color: #2c3e50; /* Color del texto del botón */
  transition: all 0.3s ease; /* Transición suave */
}

#newsCarousel .btn-outline-primary:hover {
  background-color: #2c3e50; /* Fondo al hacer hover */
  color: #fff; /* Texto blanco al hacer hover */
}

/* Estilos para los controles del carrusel (flechas) */
#newsCarousel .carousel-control-prev,
#newsCarousel .carousel-control-next {
  width: 40px; /* Ancho de las flechas */
  height: 40px; /* Alto de las flechas */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  border-radius: 50%; /* Forma circular */
  top: 50%; /* Centrar verticalmente */
  transform: translateY(-50%); /* Ajuste fino para centrar */
  opacity: 0.5; /* Transparencia */
  transition: opacity 0.3s ease; /* Transición suave */
}

#newsCarousel .carousel-control-prev {
  left: 15px; /* Posición desde la izquierda */
}

#newsCarousel .carousel-control-next {
  right: 15px; /* Posición desde la derecha */
}

#newsCarousel .carousel-control-prev:hover,
#newsCarousel .carousel-control-next:hover {
  opacity: 1; /* Sin transparencia al hacer hover */
}

/* Pausar el carrusel al hacer hover */
#newsCarousel:hover .carousel-inner {
  transition: none;
}

/* Botones */
.btn-primary {
  background-color: #9c27b0; /* Morado secundario */
  border: none;
  padding: 10px 20px;
  font-size: 1.1rem;
}

.btn-primary:hover {
  background-color: #190327; /* Morado principal */
}

/* Tarjetas */
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Ajustar el margen superior del header */
header {
  padding-top: 80px;
  display: flex;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

/* Secciones */
section {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* Footer */
footer {
  background-color: #6a1b9a;
  color: #fff;
  padding: 20px 0;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px;
}

footer a:hover {
  color: #ffeb3b;
}

/* Botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  background-color: #25d366; /* Color de WhatsApp */
  color: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  text-decoration: none; /* Elimina el subrayado */
  animation: titilar 1.5s infinite; /* Animación de titilar */
  z-index: 1001; /* Asegurar que esté por encima del navbar */
}

.whatsapp-button:hover {
  background-color: #07b975;
  text-decoration: none;
  color: #fff;
}

/* Animación de titilar */
@keyframes titilar {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}

/* Color personalizado para los íconos */
.text-purple {
  color: #6a1b9a; /* Morado principal */
}

/* Espaciado y tipografía */
.card-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: #211627;
}

.card-text {
  font-size: 1rem;
  line-height: 1.6;
  text-align: left;
  color: rgb(92, 91, 91);
}
#nosotros .card-text {
  font-size: 18px; /* Ajusta el tamaño del texto dentro de la sección con ID "ultimo" */
}
#productos .card-text {
  font-size: 18px; /* Ajusta el tamaño del texto dentro de la sección con ID "ultimo" */
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
  }
  header p {
    font-size: 1.2rem;
  }

  /* Navbar en dispositivos móviles */
  .navbar-nav .nav-link {
    font-size: 1.1rem;
  }

  /* Botón de WhatsApp en dispositivos móviles */
  .whatsapp-button {
    bottom: 20px;
    right: 10px;
    font-size: 28px;
    transform: translateZ(0);
  }
}

/* Rotación del ícono del toggler */
.navbar-toggler-icon {
  transition: transform 0.3s ease;
}

.navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  transform: rotate(90deg);
}

:root {
  --main-color: #6a1b9a;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* Imagen circular con efecto hover */
.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  width: 185px;
  height: 215px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  cursor: pointer;
}

.team-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition:
    clip-path 0.3s ease,
    transform 0.3s ease;
}

.image-container:hover .team-image {
  clip-path: circle(70% at 50% 50%);
  transform: scale(1.1);
}

.image-container:hover {
  box-shadow: 0 4px 8px var(--shadow-color);
}

.modal-content {
  border-radius: 15px;
}

.modal-header {
  background-color: var(--main-color);
  color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.modal-body img {
  display: block;
  margin: 0 auto 1rem;
}

.modal-body ul {
  padding-left: 20px;
}

.modal-body ul li {
  margin-bottom: 10px;
}

.modal-body strong {
  color: var(--main-color);
}

/* Indicador de clic en móvil */
.click-indicator {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(106, 27, 154, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
}

@media (max-width: 767.98px) {
  .click-indicator {
    display: block;
    opacity: 0.8;
  }

  .image-container:active .click-indicator {
    opacity: 1;
  }

  .image-container {
    cursor: pointer;
  }

  .team-image:active {
    transform: scale(1.05);
  }
}

@media (min-width: 768px) {
  .click-indicator {
    display: none;
  }
}

@media (min-width: 768px) {
  .mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

html {
  scroll-behavior: smooth;
}

/* Estilos para sección de socios */
#socios {
  background-color: #fafafa;
}

#socios .divider {
  width: 50px;
  height: 3px;
  background-color: #0d6efd;
  margin-bottom: 20px;
}

.partner-card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  padding: 30px;
}

.partner-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.partner-content h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.partner-content p {
  color: #6c757d;
  font-size: 1rem;
  margin-bottom: 20px;
}

.partner-link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  transition: color 0.2s;
}

.partner-link:hover {
  color: #0a58ca;
}

.partnership-banner {
  background-color: #e9f0ff;
  border: 1px solid #d1e3ff;
}

/* Estilos para la sección Lo Último */
#ultimo .divider {
  width: 50px;
  height: 3px;
  background-color: #0d6efd;
  margin-bottom: 20px;
}

.history-card,
.news-card {
  transition: transform 0.3s ease;
  height: 100%;
}

.history-card:hover,
.news-card:hover {
  transform: translateY(-5px);
}

.timeline-list .timeline-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 50%;
  background-color: #e8f0fe;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon-container {
  background-color: #f8f9fa;
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.coming-soon-icon {
  color: #6c757d;
  opacity: 0.7;
}

.news-date {
  background-color: #f8f9fa;
  border-radius: 4px;
  padding: 5px 10px;
  min-width: 50px;
}

.news-date small {
  font-size: 0.7rem;
  color: #6c757d;
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* O la altura que consideres adecuada */
  overflow: hidden;
}
